.frame-container {
  position: relative;
  width: 200px;   
  height: 200px;
}

.center-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 2; 
}

.diamond-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;   
  height: 140px;
  border: 6px solid pink;
  background: transparent;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 1; 
}